* {
    background-color: black;
}

.logo {
    display: block;
    text-indent: -9999px;
    width: 7em;
    height: 7em;
    background: url(../img/Fulllogo1b.svg);
    background-size: 7em 7em;
    background-position: -7em -9em;
}

.card-header, .btn-primary {
    background-color: rgb(131, 168, 255);
}

.card-text {
    background-color: rgb(131, 168, 255);
}

.btn-outline-primary {
    color: rgb(131, 168, 255);
    border-color: rgb(131, 168, 255);
}

.tree-catalog-link {
    background-image: url(../img/collage_arboles_filter.png);    
    background-repeat: no-repeat;
    background-size: contain;
}

.pot-catalog-link {
  background-image: url(../img/collage_macetas_2.png);    
  background-repeat: no-repeat;
  background-size: contain;
}

.catalog-menu-item{
  color: #83a8ff;
  font-weight: bold;
  font-size: 2rem;
}